.contain_main {
    height: auto;
    width: 100%;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}

ul.sidebar {
    justify-self: center;
    height: auto;
    min-width: 17rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #71a684;
}

ul.sidebar > li > a {
    height: auto;
    width: auto;
    display: flex;
    column-gap: 0.4rem;
    align-items: center;
}

.sidebar_icon {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 0.6rem;
    color: white;
}

ul.sidebar > li > a > p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0.5rem 0;
}
